/* After an SVG update add the below on top:
<?xml-stylesheet type="text/css"href="../css/zoom.css"?>
*/

#svgMap {
    transition: 0.5s ease-in-out;
}

.moveTo-memory-peony {
    transform: translate(-22.5%, 0px) scale(0.7);
}

.moveTo-memory-waterfall {
    transform: translate(-22.5%, 0px) scale(0.7);
}

.moveTo-memory-bridge {
    transform: translate(-22.5%, 0px) scale(0.7);
}

.moveTo-memory-daylily {
    transform: translate(-20%, 5%) scale(0.85);
}

.moveTo-memory-bike {
    transform: translate(-22.5%, 0px) scale(0.7);
}

.moveTo-peony-daylily {
    transform: translate(-50%, 12%) scale(1.25);
}

.moveTo-peony-waterfall {
    transform: translate(-30%, -25%) scale(1.6);
}

.moveTo-daylily-waterfall {
    transform: translate(-40%, 10%) scale(1.1);
}

.moveTo-daylily-bridge {
    transform: translate(-70%, 25%) scale(1.6);
}

.moveTo-bike-daylily {
    transform: translate(-70%, 25%) scale(1.65);
}

.moveTo-bridge-peony {
    transform: translate(-70%, 5%) scale(1.75);
}

.moveTo-bridge-waterfall {
    transform: translate(-40%, 5%) scale(1.1);
}

.moveTo-bridge-bike {
    transform: translate(-80%, 10%) scale(1.85);
}

.moveTo-waterfall-peony {
    transform: translate(-35%, -10%) scale(1.45);
}

.moveTo-waterfall-bike {
    transform: translate(-35%, -10%) scale(1.45);
}

.moveTo-peony-bike {
    transform: translate(-35%, -10%) scale(1.45);
}