/* CSS Document*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {

  /* Colors */
  --paths:  #f7f2db;
  --concrete-path: #383838;
  --map-green: #88b086;
  --peony: #CC7B94;
  --water-feature: #3995B1;
  --memory-garden: #547EAC;
  --bridge: #9D885F;
  --bike-path: #ea9154;
  --day-lily:  #967EA5;
  --map: #707070;

}

/* FONT DECLARATION */

@font-face {
	font-family: "LatoTitle";
	src: url(fonts/Lato-Black.ttf);
}

@font-face {
	font-family: "LatoLink";
	src: url(fonts/Lato-Heavy.ttf);
}

@font-face {
	font-family: "LatoButton";
	src: url(fonts/Lato-Semibold.ttf);
}

@font-face {
	font-family: "LatoPara";
	src: url(fonts/Lato-Medium.ttf);
}

@font-face {
	font-family: "LatoParaItalic";
	src: url(fonts/Lato-MediumItalic.ttf);
}


/* PAGE CSS STYLES */


main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

header {
	position: fixed;
	/* top: 5%; */
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

section {
	width: 100%;
	height: 92%;
	font-size: 36px;
	overflow: scroll;
	background: #88b086;
}

/* section img {
	width: auto;
	height: 100%;
} */


/* Dropdown and SVG styles for zoom */

#svgMapObj, #svgMap, #mapSection {
  width: auto;
  height: 100%;
}

.destination-menu {
  width: 100vw;
  height: 30rem;
  font-size: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.destination-select {
  width: 80vw;
  margin: 0 auto;
  background: var(--paths);
  border-radius: 0.6rem;
  border: 0.1rem solid var(--concrete-path);
  z-index: 9000;
  position: absolute;
  top: 1rem;
  left: 3.6rem;
}

.destination-select li {
  list-style: none;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

#infoPanel {
	position: fixed;
	bottom: 0;
	height: 50%;
	width: 100%;
	background: #707070;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}

#titleBar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	top: 0;
	height: 12%;
	width: 100%;
	background: #967EA5;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#titleBar div {
	display: flex;
	align-items: center;
	width: 80%;
	height: 100%;
}

#title {
	display: inline;
	color: #F7F2DB;
	font-size: 70%;
	font-family: "LatoTitle";
	text-transform: uppercase;
	letter-spacing: 1px;
}

#titleBarImage {
	max-height: 60%;
	max-width: 60%;
	margin: 0 3%;
}

#closeButton {
	height: 70%;
	width: auto;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	bottom: 0px;
	height: 8.5%;
	width: 100%;
}

footer .tab {
	display: flex;
	height: 100%;
	width: 17%;
	justify-content: center;
	align-items: center;
	background: #707070;
	border: 2px solid #f7f2db;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
}

footer .tab:hover {
	cursor: pointer;
}

footer #tab1:hover {
	background: #ea9154;
}

footer #tab2:hover {
	background: #CC7B94;
}

footer #tab3:hover {
	background: #3995B1;
}

footer #tab4:hover {
	background: #9D885F;
}

footer #tab5:hover {
	background: #967EA5;
}

footer #tab6:hover {
	background: #547EAC;
}

footer img {
	max-height: 75%;
	max-width: 75%;
}


/* PATH ANIMATIONS */

.penoyToBridgeAnimate {
	fill: transparent;
	stroke: #679DF6;
	stroke-width: 16;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-dasharray: 597;
	stroke-dashoffset: 597;
	animation: penoyToBridgeAnimate 5s ease-out infinite;

}

@keyframes penoyToBridgeAnimate {
	to {
		stroke-dashoffset: 0;
	}
}

.penoyToDaylilyAnimate {
	fill: transparent;
	stroke: #679DF6;
	stroke-width: 16;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-dasharray: 1062;
	stroke-dashoffset: 1062;
	animation: penoyToDaylilyAnimate 5s ease-out infinite;

}

@keyframes penoyToDaylilyAnimate {
	to {
		stroke-dashoffset: 0;
	}
}

.penoyToWaterFeatureAnimate {
	fill: transparent;
	stroke: #679DF6;
	stroke-width: 7.5;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-dasharray: 654;
	stroke-dashoffset: 654;
	animation: penoyToWaterFeatureAnimate 5s ease-out infinite;

}

@keyframes penoyToWaterFeatureAnimate {
	to {
		stroke-dashoffset: 0;
	}
}

.bridgeToWaterFeatureAnimate {
	fill: transparent;
	stroke: #679DF6;
	stroke-width: 16;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-dasharray: 1119;
	stroke-dashoffset: 1119;
	animation: bridgeToWaterFeatureAnimate 5s ease-out infinite;

}

@keyframes bridgeToWaterFeatureAnimate {
	to {
		stroke-dashoffset: 0;
	}
}


.daylilyToWaterFeatureAnimate {
	fill: transparent;
	stroke: #679DF6;
	stroke-width: 16;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-dasharray: 1581;
	stroke-dashoffset: 1581;
	animation: daylilyToWaterFeatureAnimate 5s ease-out infinite;

}

@keyframes daylilyToWaterFeatureAnimate {
	to {
		stroke-dashoffset: 0;
	}
}

.waterFeatureToDaylilyAnimate {
	fill: transparent;
	stroke: #679DF6;
	stroke-width: 16;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-dasharray: 0;
	stroke-dashoffset: 5810;
	animation: waterFeatureToDaylilyAnimate 5s ease-out infinite;

}

@keyframes waterFeatureToDaylilyAnimate {
	from {
		stroke-dashoffset: 1581;
	}
}


.bridgeToDaylilyAnimate {
	fill: transparent;
	stroke: #679DF6;
	stroke-width: 16;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-dasharray: 615;
	stroke-dashoffset: 615;
	animation: bridgeToDaylilyAnimate 8s infinite ease-out;

}

@keyframes bridgeToDaylilyAnimate {
	/* to {
        stroke-dashoffset: 0;
    } */



}


.bikeTrailAnimate {
	fill: transparent;
	stroke: #EA9154;
	stroke-width: 30;
	stroke-miterlimit: 10;
	stroke-dasharray: 150, 22.5;
	stroke-dashoffset: 1400;
	animation: bikeTrailAnimate 5s ease-in infinite;
	/* animation: animatebike 5s linear; */
}

@keyframes bikeTrailAnimate {
	from {
		stroke-dashoffset: 0;
	}

}